div#article {
    margin: 0;
    padding: 0;
    width: 59%;
    height: fit-content;
	float: left;
}
textarea#mdinput {
    margin: 0;
    padding: 0;
    margin-right: 1%;
    width: 39%;
    height: 800px;
    float: left;
    /* box-sizing:border-box; */
    resize: none;
}
div#Main {
    margin: 0;
    min-height: 900px;
}
div#Main h1 {
    margin: 0;
    margin-bottom: 3px;
    padding: .5em;
    width: fit-content;
    font-size: 1.75em;
    line-height: 1.2;
    color: whitesmoke;
    background-color: mediumseagreen;
    border-radius: 6px;
}
div#article h1 {
    margin: 0;
    padding: .5em;
    padding-bottom: 0;
    width: fit-content;
    font-size: 1.75em;
    line-height: 1.2;
    counter-reset: chapter;
    color: black;
    background-color: unset;
    border-radius: unset;
}