/* 全体 */
div, p {
	margin: 0;
	padding: 0;
}
/* html {} */
body {
    font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
    font-size: large;
    background-color: gainsboro;
}
div#bodywrap {
    max-width: 1200px;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 5px 30px 30px 30px;
    border-radius: 6px;
}
div#Main {
    margin: 0;
}
div#Main p {
    margin: 0.5em 0;
}

/* コードブロック */
h1 code {
    font-size: inherit;
}
h2 tt,
h2 code {
    font-size: inherit;
}
h3 tt,
h3 code {
    font-size: inherit;
}
h4 tt,
h4 code {
    font-size: inherit;
}
h5 tt,
h5 code {
    font-size: inherit;
}
h6 tt,
h6 code {
    font-size: inherit;
}
code,
tt {
    font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    border: 1px solid #d7dadd;
    background-color: #e8e8e8;
    border-radius: 3px;
    padding: 0 2px 0 2px;
}
pre {
    background-color: #3f4f4f;
    border: 1px solid #e7eaed;
    border-radius: 6px;
    padding: 0.8em 2em;
	max-width: 90%;
    overflow: auto;
}
pre code {
    color: whitesmoke;
    background-color: unset;
    border: none;
    padding: 0;
    margin: 0;
}

/* メニュー */
div#TopMenu {
    margin: 0;
	float: right;
    background-color: unset;
 }
div#TopMenu ul {
	list-style-type: none;
	margin: 0;
    padding: 0;
}
div#TopMenu li {
	display: block;
	float: left;
    font-weight: bold;
	padding: .5em 1em;
    border: 1px solid #e7eaed;
    border-radius: 3px;
    background-color: #f8f8f8;
}
div#TopMenu li a {
    text-decoration: none;
    color: rgb(51, 51, 51);
}

/* 章節 */
div#article h1 {
    margin: 0;
    padding: .5em;
    width: fit-content;
    font-size: 1.75em;
    line-height: 1.2;
    counter-reset: chapter;
    color: whitesmoke;
    background-color: mediumseagreen;
    border-radius: 6px;
}
div#article h2 {
    padding-bottom: .3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #ccc;
    counter-reset: sub-chapter;
}
div#article h3 {
    font-size: 1.5em;
    line-height: 1.43;
    counter-reset: section;
}
div#article h4 {
    font-size: 1.25em;
}
div#article h2::before {
    counter-increment: chapter;
    content: counter(chapter, upper-roman) ". ";
}
div#article h3::before {
    counter-increment: sub-chapter;
    content: counter(chapter, upper-roman) "."counter(sub-chapter, decimal)". ";
}
div#article h4::before {
    counter-increment: section;
    content: counter(chapter, upper-roman) "."counter(sub-chapter, decimal)"."counter(section, decimal)" ";
}

div#article li {
    margin: 0.2em 0;
}

/* テーブル */
table {
    margin: 0.8em 0;
    padding: 0;
    word-break: initial;
    /* border: 0px solid #dfe2e5; */
}
table tr {
    border-top: 1px solid #dfe2e5;
    margin: 0;
    padding: 0;
}
table tr:nth-child(2n),
thead {
    background-color: #e8e8e8;
}
table tr th {
    font-weight: bold;
    border: 1px solid #dfe2e5;
    border-bottom: 0;
    margin: 0;
    padding: 6px 13px;
}
table tr td {
    border: 1px solid #dfe2e5;
    margin: 0;
    padding: 6px 13px;
}
table tr th:first-child,
table tr td:first-child {
    margin-top: 0;
}
table tr th:last-child,
table tr td:last-child {
    margin-bottom: 0;
}
